body {
  background-color: palegoldenrod;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h3 {
  text-align: center;
  font-size: 48px;
}

p {
  text-align: center;
  font-size: 18px;
}
img {
  display: block;
  margin: 0 auto;
}
a {
  color: black;
}
.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
}
